<!DOCTYPE html>
<html>
  <head>
    <title>Dynamigig</title>
    {% include 'bootstrap.html' %}
    
  </head>
  <body>
     {% include 'nav.html' %}
     {% include 'banner1.html' %}
      <div class='container'>
        <h1 class='text-center mt-2 mb-4'>
          Dynamigig
        </h1>
       <div class='row' style = "margin-bottom:16px"> 
         <div class="col-md-6">
      <p class='lead'>Dynamigig is an innovative employment website that offers job seekers and employers a modern and streamlined platform for job search and recruitment. With a user-friendly interface and advanced search features, job seekers can quickly find job openings that match their skills and qualifications. The website also provides resume-building tools and career advice resources to help job seekers succeed in their job search. Employers can easily post job openings, review resumes, and communicate with potential candidates through the platform. Dynamigig's cutting-edge technology and personalized approach to job search and recruitment make it a valuable resource for both job seekers and employers in today's competitive job market.
      </p>
         </div>
         <div class="d-none d-md-block col-md-6">
         <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_JKM4wZ.json"  background="transparent"  speed="1"  style="width: 800px; height: 300px;"  loop  autoplay></lottie-player>
         </div>
       </div>   
      <h2 class ='text-center mt-2 mb-4'>Open Positions
      </h2>

        
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
    
      <br> 
    
      <div class = 'text-center'>
        <a href="mailto:hello@Dynamigig.ai?subject=Question%20About%20Job%20Openings&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%20%3A%20%3Center%20question%20here%3E" type='button' class="btn btn-outline-primary">Contact Us</a>
      </div>  
    </div> 
    {% include 'footer.html' %}
  </body>
</html> 