<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_noxc6ldl.json"  background="transparent"  speed="1" class="d-inline-block align-text-top" style="width: 40px; height: 40px;"  loop  autoplay></lottie-player>
      <b>Dynamigig</b>
    </a>
  </div>
</nav>
<div style = "height:56px"></div>